body {
    background-color: #e0dced;

}
 h1, h3, h4 {
     color : white;
     font-family: 'Fredoka One', cursive;

 }

 h1 {
     font-size: 96px ;
     padding-left: 58px;
     margin-bottom: 0px;
     margin-top: 0px;
     display: flex;
     align-items: center;

 }

 h3 {
     font-size : 48px;
     padding-left : 58px;
     margin-top: 120px;
     margin-bottom: 0px;

 }

 h4 {
     font-size : 24px;
     padding-left: 450px;
     margin-bottom: 0px;
     margin-top: 0px;
 }



