.Resume h1{
    margin-top: 300px;
    margin-left: 980px;
}

.text a{
    display: block;
    color: white;
    font-size: 25px;
    margin-left: 500px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-top: 100px;
    text-decoration: none;

}

