.Resume h1{
    margin-top: 350px;
    margin-left: 980px;
}

.text p{
    color: white;
    font-size: 25px;
    margin-left: 500px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-top: 90px;

}

