.butons button {
    border-radius: 19px;
    background-color: #AC9480;
    color: #E9E9E9;
    border: none;
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.butons {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 30px;
}


.butons button.button-about {
    background-color: #E9E9E9;
    color: #AC9480;
}

.butons button.button-about:hover {
    background-color: #AC9480;
    color: #E9E9E9;
}

.butons button:hover {
    background-color: #E9E9E9;
    color: #AC9480;
}

.About h1 {
    width: 30%;
    margin-right: 130px;
    text-align: left;
    margin-top: 110px;

}

.About h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 350px;
    font-size: 50px;
    margin-top : -50px;
}

.portfolio-icon {
    margin-left: -10px;
}


.About p {
    color: white;
    font-size: 20px;
    margin-left: 60px;
    font-family: 'Baloo 2', cursive;

}

.skills h2{
    color:white;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    margin-left: 930px;
    margin-top: -350px;
}

.tech-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: 780px;
    margin-top: 20px;
    gap: 60px;

}

.tech-card {
    background-color: #AC9480;
    border-radius: 25px;
    padding: 20px;
    height: 120px;
    width: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.tech-card h3 {
   font-size: 20px;
    font-family: 'Baloo 2', cursive;
    margin-top: -10px;
    margin-left: -100px;
}

.tech-card3 {
    background-color: #AC9480;
    border-radius: 25px;
    padding: 20px;
    height: 120px;
    width: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.tech-card3 h3 {
    font-size: 20px;
    font-family: 'Baloo 2', cursive;
    margin-top: -10px;
    margin-left: -140px;
}
.tech-logos img {
    width: 70px;
    height: 50px;
    object-fit: contain;
}


.tech-logos1 img {
    width: 80px;
    height: 55px;
    object-fit: contain;
}
.tech-text p {
    font-family: 'Baloo 2', cursive;
    color: white;
    font-size: 15px;
    font-weight: bold;
}